header {
  width: 100%;
  padding: 3rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  & .info {
    width: 85%;
    border-bottom: 1px solid #00000088;
    & h1 {
      margin: 0;
      font-size: 2.4rem;
      font-weight: 700;
      color: $textLight;
    }
    & p {
      margin: 0;
      padding: 0.5rem 0 2rem;
      font-size: 1.4rem;
      font-weight: 700;
      color: $desaturatedTextLight;
    }
  }
}
