footer.attribution 
  span Challenge by 
    a(href='https://www.frontendmentor.io?ref=challenge' target='_blank') Frontend Mentor
  span Coded by 
    a(href='https://github.com/Diegoalesco95/') Diegoalesco95