doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="assets/css/normalize.css")
    link(rel="stylesheet", href="assets/css/styles.css")
    link(rel="icon", href="assets/images/favicon-32x32.png", type="image/png", sizes="32x32")
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap", rel="stylesheet")
    <title>Frontend Mentor | Social Media Dashboard</title>
    <script defer src="https://kit.fontawesome.com/4f51e0cdde.js" crossorigin="anonymous"></script>
  body
    block bodies
    block scripts
      script(defer src="assets/js/index.js" )