header
  .info
    h1 Social Media Dashboard
    p Total Followers: 23,004
  .toggle
    span Dark Mode
    label(class="switch")
      input(type="checkbox" checked)
      span(class="slider")
  