include _card

section.intro
  +card('facebook','fab fa-facebook-square', '@nathanf', '1987','fas fa-sort-up', 'Followers', '12')
  +card('twitter','fab fa-twitter', '@nathanf', '1044', 'Followers','fas fa-sort-up', '99')
  +card('instagram','fab fa-instagram', '@realnathanf', '11k', 'Followers','fas fa-sort-up', '1099')
  +card('youtube','fab fa-youtube', 'Nathan F.', '8239', 'Subscribers', 'fas fa-sort-down', '144')