include _mini-card

section.overview
  h2 Overview - Today
  +miniCard('Page Views', '87', 'fab fa-facebook-square', 'up', 'fas fa-sort-up', '3')
  +miniCard('Page Views', '52', 'fab fa-facebook-square', 'down', 'fas fa-sort-down', '-2')
  +miniCard('Page Views', '5462', 'fab fa-instagram', 'up', 'fas fa-sort-up', '2257')
  +miniCard('Page Views', '52k', 'fab fa-instagram', 'up', 'fas fa-sort-up', '1375')
  +miniCard('Page Views', '117', 'fab fa-twitter', 'up', 'fas fa-sort-up', '303')
  +miniCard('Page Views', '507', 'fab fa-twitter', 'up', 'fas fa-sort-up', '553')
  +miniCard('Page Views', '107', 'fab fa-youtube', 'down', 'fas fa-sort-down', '19')
  +miniCard('Page Views', '1407', 'fab fa-youtube', 'down', 'fas fa-sort-down', '12')