html {
  font-family: "Inter", sans-serif;
  font-size: 10px;
}

body {
  background-color: white;
}

main {
  margin: 18rem 0 0;
}

header {
  width: 100%;
  padding: 3rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
header .info {
  width: 85%;
  border-bottom: 1px solid #00000088;
}
header .info h1 {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 700;
  color: #1e202a;
}
header .info p {
  margin: 0;
  padding: 0.5rem 0 2rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #63687e;
}

.toggle {
  width: 85%;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toggle span {
  font-size: 1.4rem;
  font-weight: 700;
  color: #63687e;
}

.switch {
  width: 5rem;
  height: 2.7rem;
  display: inline-block;
  position: relative;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background: #aeb3cb;
}
.switch input:focus + .slider {
  box-shadow: 0 0 0.1rem toggleLight;
}
.switch input:checked + .slider:before {
  background-color: #f0f2fa;
  transform: translateX(2rem);
}

.slider {
  border-radius: 2.7rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, #378fe6, #3eda82);
  transition: 0.4s;
}
.slider:before {
  border-radius: 50%;
  content: "";
  height: 1.9rem;
  width: 1.9rem;
  position: absolute;
  left: 0.4rem;
  bottom: 0.4rem;
  background-color: #252a41;
  transition: 0.4s;
}

.fa-facebook-square {
  color: #198ff5;
}

.fa-twitter {
  color: #1ca0f2;
}

.fa-instagram {
  background: linear-gradient(90deg, #fdc468, #df4996);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-youtube {
  color: #c4032a;
}

.up {
  color: #1db489;
}

.down {
  color: #dc414c;
}

.card {
  width: 85%;
  height: 22rem;
  margin: 0 auto 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f2fa;
}
.card .network {
  margin: -3rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .network i {
  font-size: 2.5rem;
  margin: 1rem;
}
.card .network small {
  color: #63687e;
  font-size: 1.2rem;
  font-weight: 700;
}
.card p {
  margin: 0;
  font-size: 5.5rem;
  font-weight: 700;
  color: #1e202a;
}
.card .follower {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.4rem;
  color: #63687e;
}
.card .stats {
  margin-top: 2rem;
}
.card .stats .arrow {
  font-size: 0.8rem;
}
.card .stats small {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.facebook {
  border-top: 0.5rem solid #198ff5;
}

.twitter {
  border-top: 0.5rem solid #1ca0f2;
}

.instagram {
  border-top: 0.5rem solid;
  border-image: linear-gradient(90deg, #fdc468, #df4996) 1;
}

.youtube {
  border-top: 0.5rem solid #c4032a;
}

.overview {
  display: flex;
  flex-direction: column;
}
.overview h2 {
  width: 85%;
  margin: 3rem auto;
  font-size: 2.2rem;
  text-align: left;
  color: #63687e;
}

.mini-card {
  width: 85%;
  height: 12rem;
  border-radius: 0.5rem;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f2fa;
}
.mini-card__views {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}
.mini-card__views h3 {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  color: #63687e;
}
.mini-card__views p {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
}
.mini-card__stats {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  text-align: right;
}
.mini-card__stats .icon {
  font-size: 2.4rem;
  margin: 0 1rem 2rem;
}
.mini-card__stats span {
  font-weight: 700;
  margin: 1rem;
}
.mini-card__stats span i {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.mini-card__stats span small {
  font-size: 1.2rem;
}