@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
}
html {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  background-color: var(--backGroundLight);
  --backGroundLight: hsl(230, 17%, 14%);
  --topBgPatternLight: hsl(232, 19%, 15%);
  --cardBgLight: hsl(228, 28%, 20%);
  --desaturatedTextLight: hsl(228, 34%, 66%);
  --textLight: hsl(0, 0%, 100%);
  --hoverColor: hsl(229, 27%, 25%);
}

html[data-theme=dark] {
  background-color: var(--backGroundLight);
  --backGroundLight: hsl(0, 0%, 100%);
  --topBgPatternLight: hsl(225, 100%, 98%);
  --cardBgLight: hsl(227, 47%, 96%);
  --desaturatedTextLight: hsl(228, 12%, 44%);
  --textLight: hsl(230, 17%, 14%);
  --hoverColor: hsl(228, 50%, 90%);
}

main {
  margin: 18rem 0 0;
}
@media only screen and (min-width: 1024px) {
  main {
    height: 88vh;
    margin-top: 14rem;
  }
}

header {
  width: 100%;
  padding: 3rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
header .info {
  width: 85%;
  border-bottom: 0.1rem solid var(--desaturatedTextLight);
}
header .info h1 {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--textLight);
}
header .info p {
  margin: 0;
  padding: 0.5rem 0 2rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--desaturatedTextLight);
}
@media only screen and (min-width: 1024px) {
  header {
    width: 85%;
    height: 6rem;
    margin: 3rem auto;
    padding: 0;
    flex-direction: row;
  }
  header .info {
    border-bottom: none;
  }
  header .info h1 {
    margin: 2rem 0 0;
  }
}

.toggle {
  width: 85%;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toggle span {
  font-size: 1.4rem;
  font-weight: 700;
  color: #63687e;
}
@media only screen and (min-width: 1024px) {
  .toggle {
    width: 18%;
  }
}

.switch {
  width: 5rem;
  height: 2.7rem;
  display: inline-block;
  position: relative;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background: #aeb3cb;
}
.switch input:checked + .slider:hover {
  background: linear-gradient(90deg, #378fe6, #3eda82);
}
.switch input:focus + .slider {
  box-shadow: 0 0 0.1rem #aeb3cb;
}
.switch input:checked + .slider:before {
  background-color: #f0f2fa;
  transform: translateX(2rem);
}

.slider {
  border-radius: 2.7rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, #378fe6, #3eda82);
  transition: 0.4s;
}
.slider:before {
  border-radius: 50%;
  content: "";
  height: 1.9rem;
  width: 1.9rem;
  position: absolute;
  left: 0.4rem;
  bottom: 0.4rem;
  background-color: #252a41;
  transition: 0.4s;
}

.fa-facebook-square {
  color: #198ff5;
}

.fa-twitter {
  color: #1ca0f2;
}

.fa-instagram {
  background: linear-gradient(90deg, #fdc468, #df4996);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-youtube {
  color: #c4032a;
}

.up {
  color: #1db489;
}

.down {
  color: #dc414c;
}

.intro {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .intro {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  width: 85%;
  height: 22rem;
  margin: 0 auto 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--cardBgLight);
}
.card_network {
  margin: -3rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_network i {
  font-size: 2.5rem;
  margin: 1rem;
}
.card_network small {
  color: var(--desaturatedTextLight);
  font-size: 1.2rem;
  font-weight: 700;
}
.card p {
  margin: 0;
  font-size: 5.5rem;
  font-weight: 700;
  color: var(--textLight);
  animation: 1s fadeIn backwards;
}
.card_follower {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.4rem;
  color: var(--desaturatedTextLight);
}
.card_stats {
  margin-top: 2rem;
}
.card_stats .arrow {
  font-size: 0.8rem;
}
.card_stats small {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.card:hover {
  background-color: var(--hoverColor);
}
.card:nth-child(3) p {
  animation-delay: 0.1s;
}
.card:nth-child(4) p {
  animation-delay: 0.2s;
}
.card:nth-child(5) p {
  animation-delay: 0.3s;
}

.facebook {
  border-top: 0.5rem solid #198ff5;
}

.twitter {
  border-top: 0.5rem solid #1ca0f2;
}

.instagram {
  border-top: 0.5rem solid;
  border-image: linear-gradient(90deg, #fdc468, #df4996) 1;
}

.youtube {
  border-top: 0.5rem solid #c4032a;
}

.overview {
  display: flex;
  flex-direction: column;
}
.overview h2 {
  width: 85%;
  margin: 3rem auto;
  font-size: 2.2rem;
  text-align: left;
  color: var(--textLight);
}
@media only screen and (min-width: 1024px) {
  .overview {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .overview h2 {
    margin: 3rem 0;
    grid-column: 1/5;
  }
}

.mini-card {
  width: 85%;
  height: 12rem;
  border-radius: 0.5rem;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: var(--cardBgLight);
}
.mini-card_views {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}
.mini-card_views h3 {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  color: var(--desaturatedTextLight);
}
.mini-card_views p {
  color: var(--textLight);
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  animation: 1s fadeIn backwards;
}
.mini-card_stats {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  text-align: right;
}
.mini-card_stats .icon {
  font-size: 2.4rem;
  margin: 0 1rem 2rem;
}
.mini-card_stats span {
  font-weight: 700;
  margin: 1rem;
}
.mini-card_stats span i {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.mini-card_stats span small {
  font-size: 1.2rem;
}
.mini-card:hover {
  background-color: var(--hoverColor);
}
.mini-card:nth-child(3) p {
  animation-delay: 0.1s;
}
.mini-card:nth-child(4) p {
  animation-delay: 0.2s;
}
.mini-card:nth-child(5) p {
  animation-delay: 0.3s;
}
.mini-card:nth-child(6) p {
  animation-delay: 0.4s;
}
.mini-card:nth-child(7) p {
  animation-delay: 0.5s;
}
.mini-card:nth-child(8) p {
  animation-delay: 0.6s;
}
.mini-card:nth-child(9) p {
  animation-delay: 0.7s;
}

.attribution {
  height: 4rem;
  padding: 2rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--cardBgLight);
}
.attribution span {
  color: var(--textLight);
}
.attribution a {
  margin: 0 0.4rem;
  text-decoration: none;
  color: var(--desaturatedTextLight);
}